@model DivInf.Core.DTOs.ConsultaDTO

@{
    ViewData["Title"] = "Editar consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" arial-label="close">
                <span arial-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <h3>Editar consulta</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="EditConsulta">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Matricula" class="control-label"></label>
                    <input asp-for="Matricula" class="form-control" />
                    <span asp-validation-for="Matricula" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Tipo" class="control-label"></label>
                    <input asp-for="Tipo" class="form-control" />
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Costo" class="control-label"></label>
                    <input asp-for="Costo" class="form-control" />
                    <span asp-validation-for="Costo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CostoMaterial" class="control-label"></label>
                    <input asp-for="CostoMaterial" class="form-control" />
                    <span asp-validation-for="CostoMaterial" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="HistoriaClinica" class="control-label"></label>
                    <input asp-for="HistoriaClinica" class="form-control" />
                    <span asp-validation-for="HistoriaClinica" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Editar consulta" class="btn btn-primary" />
                    <a asp-controller="Consulta" asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}