@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid col-sm-12">
    <div class="container col-sm-12">
        <div class="col-sm-12 text-center align-items-center">
            <p class="display-3 flex-column color-home-text font-weight-bold textColor">División Informática</p>
        </div>
        <div class="col-sm-12 text-center align-items-center">
            <p class="text-sm-center flex-column color-home-text font-weight-bold textColor">Líderes en desarrollo de software para el mercado financiero y de cobranzas.</p>
        </div>
        <div class="col-sm-12">
            <img src="~/iMac_2.png" class="col-sm-6 image"/>
        </div>
    </div>
</div>
